.vjs-hlsjs-form-group {
  padding: 5px 0;
  .vjs-hlsjs-form-label {
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
  }

  .vjs-hlsjs-form-input {
    display: inline-block;
  }
}
